In [1]:
l = [1,2,3,4,"namdev" ,"patange" , 45.56]

In [3]:
for i in l :
    print(i)

1
2
3
4
namdev
patange
45.56

In [5]:
for i in l :
    pass

In [7]:
s = "namdev"
for i in s :
    print(i)

n
a
m
d
e
v

In [9]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
namdev
patange
45.56
if for loop is going to complete itself the it will execute else

In [11]:
l

[1, 2, 3, 4, 'namdev', 'patange', 45.56]

In [13]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [15]:
s = "rohan"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

r
o
h
a
n
print srtring  rohan

In [19]:
t = (4,5,6,7,8,6,"soham")
for i in t :
    print(i)

4
5
6
7
8
6
soham

In [23]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"namdev"}

In [25]:
type(b)

set

In [27]:
b

{4, 5, 6, 7, 8, 'namdev'}

In [29]:
for i in b :
    print(i)

4
5
6
7
8
namdev

In [33]:
d = {'key1' :"namdev" , 'contact' : "namdevpatange@ineuron.ai" , "position" : "xyz"}

In [35]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : namdev
contact : namdevpatange@ineuron.ai
position : xyz

In [37]:
d['key1']

'namdev'

In [39]:
range(9)

range(0, 9)

In [41]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [45]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [49]:
list(range(0,9 , -1))

[]

In [51]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("namdev" , end = "     ")
    print("\n")

namdev

namdev     namdev

namdev     namdev     namdev

namdev     namdev     namdev     namdev

In [57]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("namdev"),end=" ")
    for j in range(i+1):
        print("namdev",end=" ")
    for j in range(i): 
        print("namdev",end=" ")
    print()

              namdev
       namdev namdev namdev
namdev namdev namdev namdev namdev

In [61]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('patange ', end= '')
    print()

      patange
    patange patange
  patange patange patange
patange patange patange patange

In [65]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("namdev",end=' ')
    print()

  namdev
 namdev namdev
namdev namdev namdev

In [69]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'soham '*i)

  soham
 soham soham
soham soham soham

In [71]:
list(range(0))

[]

In [73]:
t = (3,23,45,67,2,4,5,6)

In [75]:
t[0]

3

In [77]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [79]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [81]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [83]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [85]:
s

'ineuron'

In [87]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [89]:
d

{'key1': 'namdev', 'contact': 'namdevpatange@ineuron.ai', 'position': 'xyz'}

In [91]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'namdev') <class 'tuple'> <class 'str'>
('contact', 'namdevpatange@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [93]:
l = ["namdev" , "soham" , 3234545 , "namdevpatange@ineuron.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [95]:
l1

[3234545, 345, 34345353]

In [99]:
 d = {1: 3345345  , "name" : "namdev" , "email_id" : "namdev@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [101]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [103]:
s = "aaaabbccd"

In [105]:
for i in set(s):
    print(i  , ":" , s.count(i))

b : 2
a : 4
c : 2
d : 1

In [107]:
s.count('a')

4

In [109]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [111]:
str(i)

'34534654646435'

In [115]:
t = ("namdev" , "patange" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"namdev"})

In [117]:
t=("namdev","patange",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"patange","key2":"namdev"})

In [119]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [127]:
d = {4:5 , "key1" : "namdev" , "key2" : "patange"}

In [129]:
d.items()

dict_items([(4, 5), ('key1', 'namdev'), ('key2', 'patange')])

In [131]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'namdev')
('key2', 'patange')

In [133]:
d.items()

dict_items([(4, 5), ('key1', 'namdev'), ('key2', 'patange')])

In [135]:
a = 10 
b = 20
c = 30

In [137]:
a , b , c = 10 , 20 , 30

In [139]:
a,b,c = (10,20,30)

In [151]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
kjshdf

In [153]:
s="aaaabbccd"
d = {}
for i in set(s) : 
    d[i] =  s.count(i)

In [155]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [157]:
l = list(range(6,-1,-1))
s = 'ineuron'
t = (l,s)

t

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

In [167]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [169]:
d.items()

dict_items([('b', 2), ('a', 4), ('c', 2), ('d', 1)])

In [180]:
i = j = [3]
i = [3] + [3]
print(i,j)

[3, 3] [3]

In [182]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

{'for', 'tips', 'coding', 'python', 'beginners'}

'for tips coding python beginners'

In [184]:
tuple = ("python", "coding", "tips", "for", "beginners")
print(tuple)
' '.join(tuple)

('python', 'coding', 'tips', 'for', 'beginners')

'python coding tips for beginners'

In [186]:
print(dict(("py", "th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}

In [188]:
x, y = (0,1) if True else None , None
print(x)

(0, 1)

In [190]:
i = j = [3]
i += j
print(i,j)

[3, 3] [3, 3]

In [192]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [194]:
s = {1,1,1,11,1,1,4,4,4,4}

In [196]:
f = frozenset((1,2,2,3,34,4,4,4,4))

In [198]:
s.add(3)

In [204]:
for i in range(4) :
    for j in range (0 , i+1) :
        print("namdev" , end = "*")
    print()

namdev*
namdev*namdev*
namdev*namdev*namdev*
namdev*namdev*namdev*namdev*

In [206]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [208]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [210]:
l1

[2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [212]:
5%2

1

In [214]:
t = ("namdev" , "patange" , [1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2":"patange"})
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict : 
        for k,v  in i.items():
            if k == 3 or v == 3 :
                    print(k)
                    print(v)

3
3
3

In [216]:
a = "namdev"

if "3" in a:
    print("yes")
else:
    print("No")

No

In [230]:
n=3
for i in range (n):
    for j in range(i,n-1):
        print("" *len("namdev"),end= " ")
    for j in range (i+1):
        print("namdev",end=" " )
    for j in range(i):
        print("namdev",end= " ")
    print()

  namdev
 namdev namdev namdev
namdev namdev namdev namdev namdev

In [232]:
for i in t :
    if type(i) == list or type (i) == tuple :
        for j in i :
            if j ==3 :
                print(j)
    if type(i) ==dict :
            for k,v in i . items():
                if k == 3 or v == 3:
                    print(k)   
                    print(v)

3
3
3

In [234]:
b = input()

 154545